.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }   
}


body {
    background-color: skyblue;
}
.centerJustified {
    display: flex;
    justify-content: center;
}
section {
    min-height: 100vh;
    background-color: skyblue;
    /* background-color: yellow; */
}
/* .row {
    padding: 15px;
} */

/* .row, .col, .p0m0, .navbar { padding: 0; margin: 0; } */
/* .row, .col {
    margin-left: 0 !important;
    margin-right: 0 !important;
} */
.row {
    padding: 75px 0 0 0;
    padding-top: 75px;
    /* padding-bottom: 50px; */
    /* background-color: red; */
    margin: auto;
}
.col {
    /* background-color: skyblue; */
    margin: 0;
    padding: 30px 15px;
}
.col.inner {padding: 15px}

.row-c {margin: auto}
.col-c {margin: auto}
.card-a {margin: 5px}

.navbar {
    background-color: slateblue;
    height: 65px;
    padding: 0 15px;
    overflow: hidden;
    margin-left: auto !important;
    margin-right: auto !important;
}
.container-fluid {
    padding: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.navRow {
    padding: 15px;
}

.navi {
    background: white; 
    text-align: center;
    /* float: right; */
}
.navCol, .navRow {background-color: inherit;}
.navCard {
    cursor: pointer  !important;
    margin: 15px 0;
    background-color: yellowgreen;
}
.navCardHdr {
    background-color: #8c198c;
    color: gold;
}
.nav-item {
    background: green; 
    padding: 0px; 
    margin: 15px; 
    height: 100px;
    cursor: pointer;
}

.nav-link {
    display: block;
    padding: 10px 0;
    color: blue;
    background-color: yellow;
    cursor: pointer;
}

.link {
    cursor: pointer;
    display: inline-block;
    padding: 25px 100px;
    margin: 50px;
    background-color: grey;

}

.subHeading {
    /* padding: 15px 0; */
}
/* .section1{background-color: orange;}
.section2{background-color: green;}
.section3{background-color: purple;}
.section4{background-color: yellow;} */
#carousel {
    animation-delay: 1s;
}
.carouselRow {
    background-color: white;
    padding: 10;
    margin: 0;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    visibility: inherit;
}
.carousel {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: moveBrand 6s ease-in-out infinite; */
   
    padding: 15px; background-color: red;
    /* transition: transform 0.6s ease-in-out; */
    /* animation: xx-spin infinite 25s linear; */

    animation-delay: 1s;
}
.carouselItem {
    padding: 15px; background-color: yellow;
    animation: 15s ease-in-out infinite;
    
}
/* .carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.6s;
} */
@keyframes moveCarousel {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0px);
    }
}


@keyframes xx-spin {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(90deg);
    }
    60% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}  
/* 
.shadowBox {
    position: relative;
}
.shadowBox:before{
    position: absolute;
    content: "";
    z-index: -1;
    bottom: 15px;
    left: 8px;
    top: 80%;
    width: 50%;
    background: #777;
    -webkit-box-shadow: 0 18px 15px #486685;
    -moz-box-shadow: 0 18px 15px #486685;
    box-shadow: 0 18px 15px #486685;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
.shadowBox:after{
    position: absolute;
    content: "";
    z-index: -1;
    bottom: 15px;
    right: 8px;
    top: 80%;
    width: 50%;
    background: #777;
    -webkit-box-shadow: 0 18px 15px #486685;
    -moz-box-shadow: 0 18px 15px #486685;
    box-shadow: 0 18px 15px #486685;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
} */

.circle {
    position: fixed;
    top: -88px; left: -63px;
    padding: 100px; 
    border-radius: 50%;
    background-color: green;
    z-index: 3000;
}

.imgSpan {
    padding: 200px 0;
    /* background-color: rgb(242, 195, 242); */
    background-color: skyblue;
}
.sig {
    font-style: italic;
    font-size: 14px;
}

thead th {
    color: goldenrod;
}
tbody th, th .striped {
    color: rgb(15, 158, 214);
}
th, td {
    padding : 0 0 10px 7.5px;
}
.tableRow {
    max-width: 1800px;
    margin: 0 auto;
    background-color: aquamarine;
}
.tableDiv {
    border-radius: 10px;
    height: 100%;
    /* background-color: yellowgreen; */
}
.tableHeadDiv {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.shortRow {
    flex: 2;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* justify-self: flex-end; */
    
}
.twoCols {
    padding-top: 0px;
}


.customModal {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    margin: 0;
    background-color: aquamarine;
    z-index: 999999;
}
.modalTitle {
    font-weight: bold;
    font-size: 40px;
    color: gray
}

.techCol,
.sampleCol {
    padding: 30px ;
    /* margin: 15px 0; */
    /* background-color: beige; */
}
.techItem {
    /* position: relative; */
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* border: none; */
}
.techItem p {margin-top: 10px;}
.techItem i {font-size: 40px;}

.mobileSample,
.webSample {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewMoreBtn {
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
    font-size: 30px;
    font-variant: small-caps;
    animation: swingBtn 6s ease-in-out infinite;
}
@keyframes swingBtn{
    0% {
        transform: rotateY(40deg);
    }
    50%{
        transform: rotateY(-40deg);
    }
    100%{
        transform: rotateY(40deg);
    }
}

.sampleItem {

}

.welcome {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 8vw;
    text-align: center;
}
.welcome p {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.fgMsg {
    color: white;
}
.bgMsg {
    color: blueviolet;
}

p.smallText {
    font-size: 4vw;
}

@media screen and (min-width: 900px) {
    .welcome p {font-size: 70px;}
    p.smallText {font-size: 30px;}
}

.frontEndMover {
    animation: moveFrontEnd 12s ease-in-out infinite;
}
.backEndMover {
    animation: moveBackEnd 12s ease-in-out infinite;
}
.devMover {
    animation: moveDev 12s ease-in-out infinite;
}
p.frontEndMover, p.backEndMover, p.devMover {
    text-align: center;
}

p.movingText { margin: 60px;}

@keyframes moveFrontEnd {
    0%{
        transform: translateY(-100vh) translateX(35vw) rotate(-90deg);
    }
    20%{
        transform: translateX(35vw) rotate(-90deg);
    }
    30%{
        transform: translateX(35vw);
    }
    50%{
        transform: translateX(-35vw) ;
    }
    60%{
        transform: translateX(-35vw) rotate(270deg);
    }
    80%{
        transform: translateY(-100vh) translateX(-35vw) rotate(-90deg);
    }
    100%{
        transform: translateY(-100vh) translateX(35vw);
    }
}

@keyframes moveBackEnd {
    0%{
        transform: translateX(-35vw);
    }
    10%{
        transform: translateX(-35vw) rotate(-270deg);
    }
    30%{
        transform: translateY(-100vh) translateX(-35vw) rotate(90deg);
    }
    50%{
        transform: translateY(-100vh) translateX(35vw) rotate(90deg);
    }
    70%{
        transform: translateX(35vw) rotate(90deg);
    }
    80%{
        transform: translateX(35vw);
    }
    100%{
        transform: translateX(-35vw);
    }
}

@keyframes moveDev {
    0%{
        transform: translateX(50vw) translateY(-5vh);
    }
    20%{
        transform: translateX(40vw) translateY(-5vh)  rotate(-90deg);
    }
    30%{
        transform: translateX(35vw);
    }
    50%{
        transform: translateX(-35vw) ;
    }
    60%{
        transform: translateX(-35vw) rotate(270deg);
    }
    80%{
        transform: translateX(35vw);
    }
    100%{
        transform: translateX(-35vw);
    } 
}