.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }   
}





.row, .col, .p0m0, .navbar { padding: 0; margin: 0; }
.navbar {
    background-color: #fff;
    padding: 10px 0;
}
/* .navi {
    background: white; 
    text-align: right;
    float: right;
}

.nav-item {
    background: green; 
    padding: 0px; 
    margin: 0px; 
}

.nav-link {
    color: blue;
} */

.imgSpan {
    padding: 200px 0;
    background-color: purple;
}
.sig {
    font-style: italic;
    font-size: 14px;
}


.nav-item {margin: 10px 0;}
.nav-link {
    display: inline-block;
    padding: 10px 0;
    
    background-color: yellow;
    cursor: pointer;
}

.link {
    cursor: pointer;
    display: inline-block;
    padding: 25px 100px;
    margin: 50px;
    background-color: grey;

}
.section {
    min-height: 100vh;
}
/* .section1{background-color: orange;}
.section2{background-color: green;}
.section3{background-color: purple;}
.section4{background-color: yellow;} */
